*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
    width: 31%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.title{
    font-size: 20px;
    font-weight: 100;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.2rem;
    color: #333;
}

.card p {
    color: #777;
    font-size: 1rem;
}

.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

.delete:hover {
    background-color: #c0392b;
}


.edit {
    background-color: #e1e73c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

.edit:hover {
    background-color: #c0c011;
}

@media (max-width: 800px){
    .card{
        width: 50%;
    }
}


@media (max-width: 500px){
    .card{
        width: 100%;
    }
}